body {
    margin-top: 100px;
    background-color: rgb(241,241,241) ;

}
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: rgb(193,122,106);

}

ul li {
    list-style: none;
    padding-left: 0%;
}
.paper {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding-top: 2px;
      margin-left: 250px;
      margin-right: 250px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
  }
.mytodos {
    padding-left: 0%;
    padding-top: 0px;
}
.boton{ 
    border: solid gray;
    background: none;
    padding-right: 10px;
    display: flex;
    justify-content: end;
    
}

